
<div class="container">
  <div class="col-md-1", "side-bar"></div>
    <div class="row">
      <% @cheeses.each do |cheese| %>
        <div class="col-md-3">
          <%= image_tag cheese.image.url(:medium) %>
          <%= link_to cheese.name, cheese %>
        </div>
      <% end %>
    </div>
  <div class="col-md-2", "side-bar"></div>
</div>
