<div class="new_cheese_page">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 form-box">
        <h1>New Cheese</h1>
        <%= render 'form' %>
      <h3>Don't see the farm you are looking for? <a href="../farms/new">Submit a new one</a></h3>
    </div>
  </div>
</div>
