
<div class="row actions">
  <div class="col-md-4 col-md-offset-5 actions"> <%= image_tag("cheese-wheel.png")%></div>
</div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 ">
      <div class="subtitle_text actions">What is Specialty Cheese?</div>

      Specialty cheese is defined as a cheese of limited production, with particular attention paid to natural flavor and texture profiles.  Specialty cheeses may be made from all types of milk (cow, sheep, goat) and may include flavorings, such as herbs, spices, fruits and nuts.


      <div class="subtitle_text actions">What is Artisan or Artisanal Cheese?</div>

      The word “artisan” or “artisanal” implies that a cheese is produced primarily by hand, in small batches, with particular attention paid to the tradition of the cheesemaker’s art, and thus using as little mechanization as possible in the production of the cheese.  Artisan, or artisanal, cheeses may be made from all types of milk and may include various flavorings.


      <div class="subtitle_text actions">What is Farmstead Cheese?</div>

      In order for a cheese to be classified as “farmstead,” as defined by the American Cheese Society, the cheese must be made with milk from the farmer’s own herd, or flock, on the farm where the animals are raised.  Milk used in the production of farmstead cheeses may not be obtained from any outside source.  Farmstead cheeses may be made from all types of milk and may include various flavorings.

      <div class="subtitle_text actions">Styles of American Cheese</div>

      The types of cheeses produced in the Americas continue to grow and expand, fueled by market demand and knowledge gained by cheesemakers.  The numbers of new cheeses being offered, from specialty, artisanal, and farmstead cheesemakers, have dramatically increased over the last decade, resulting in literally hundreds of cheeses being available in supermarkets, specialty stores, farmer’s markets and via the Internet.

      Cheeses produced in the United States may be made from cow, goat, or sheep’s milk or a blend.  Federal Department of Agriculture regulations require that any cheese aged fewer than 60 days be made from pasteurized milk; however, those cheeses aged beyond 60 days may be made from non-pasteurized, or “raw,” milk.

      Like wines and other fine foods, the best way to decide on your favorites is to taste them, and any good cheese monger will be happy to provide a sample before you buy.  And always remember to buy only as much as you can consume within a few days.  Most modern refrigerators will dry out cheeses over long periods of time.  The best place to store refrigerated cheese, because of its high humidity level, is the vegetable compartment, usually located at the bottom of the refrigerator.

      The brief guide below is designed to help the consumer with general descriptions of the cheeses found in most regional markets. It is by no means meant to be a comprehensive guide, as many cheeses sometimes fit more than one category.  It is meant, however, to give the basic characteristics of cheeses and their counterparts, which may be the most easily recognizable.


      <div class="subtitle_text actions">Fresh Cheeses</div>
      The term “fresh” is used to describe cheeses that have not been aged, or are very slightly cured.  These cheeses have a high moisture content and are usually mild and have a very creamy taste and soft texture.  These may be made from all types of milk and in the United States, these cheeses will always be pasteurized.  It is always best not to buy fresh cheeses if they are not going to be consumed before the expiration date indicated on the package, as they are highly perishable.  Cheeses in the Fresh category include Italian Style Mascarpone, and Ricotta, Chevre, Feta, Cream Cheese, Quark and Cottage Cheese.


      <div class="subtitle_text actions">Soft-Ripened Cheeses</div>
      The term “soft-ripened” is used to describe cheeses that are ripened from the outside in, very soft and even runny at room temperature.  The most common soft-ripened cheeses have a white, bloomy rind that is sometimes flecked with red or brown.  The rind is edible and is produced by spraying the surface of the cheese with a special mold, called penicillium candidum, before the brief aging period. In the United States soft-ripened cheeses are generally produced from pasteurized milk.  Cheeses in the soft-ripened category include brie and camembert styles, triple crèmes, as well as particular branded cheeses produced throughout North America.


      <div class="subtitle_text actions">Semi-soft Cheeses</div>
      The term “semi-soft” is used to describe cheeses that have a smooth, generally, creamy interior with little or no rind.  These cheeses are generally high in moisture content and range from very mild in flavor to very pungent.  Semi-soft cheeses may be made from both pasteurized and raw milk, depending on the aging requirements and the style the cheesemaker is creating.  Cheeses in the semi-soft category include many blue cheeses, colby, fontina styles, havarti and Monterey Jack.  Many washed rind cheeses fall into this category and are described separately.


      <div class="subtitle_text actions">Firm/Hard Cheeses</div>
      The terms “firm” and “hard” are used to describe a very broad category of cheeses.  Their taste profiles range from very mild to sharp and pungent.  They generally have a texture profile that ranges from elastic, at room temperature, to the hard cheeses that can be grated.  These cheeses may be made from pasteurized or raw milk, depending on the cheese and the cheesemaker.  Cheeses in this category include gouda styles, most cheddars, dry jack, Swiss (Emmenthaler) styles, Gruyere styles, many “tomme” styles and Parmesan styles.


      <div class="subtitle_text actions">Blue Cheeses</div>
      The term “blue” is used to describe cheeses that have a distinctive blue/green veining, created when the penicillium roqueforti mold, added during the cheesemaking make process, is exposed to air.  This mold provides a distinct flavor to the cheese, which ranges from fairly mild to assertive and pungent.  Blue cheeses are found in all of the categories above, except for fresh cheeses.  Blue cheeses may be made from both pasteurized and raw milk, depending on the age of the cheese and the cheesemaker.  Blue cheeses may be made in many styles, the most common being the French (roquefort), Italian (gorgonzola) and Danish blue styles.


      <div class="subtitle_text actions">Pasta Filata Cheese</div>
      The term “pasta filata” is applied to a whole family of cheeses, mostly of Italian origin.  The pasta filata cheeses are cooked and kneaded, or “spun,” as the name implies.  This family of cheeses can range from very fresh to hard grating cheeses, depending on the cheese and the producer.  The pasta filata family of cheeses includes Italian style Mozzarella, Provolone, and Scamorza.


      <div class="subtitle_text actions">Natural Rind Cheeses</div>
      “Natural rind” cheeses have rinds that are self-formed during the aging process.  Generally, no molds or microflora are added, nor is washing used to create the exterior rinds, and those that do exhibit molds and microflora in their rinds get them naturally from the environment. Because most natural rind cheeses are aged for many weeks, to develop their flavor as well as the rinds, many natural rind cheeses are made from raw milk.  Many “tomme” style cheeses fall into this category, especially the French Tomme de Savoie and Mimolette, as well as the English Stilton (also a blue), and Lancashire cheeses.


      <div class="subtitle_text actions">Washed Rind Cheeses</div>
      “Washed rind” is used to describe those cheeses that are surface-ripened by washing the cheese throughout the ripening/aging process with brine, beer, wine, brandy, or a mixture of ingredients, which encourages the growth of bacteria. The exterior rind of washed rind cheeses may vary from bright orange to brown,  with flavor and aroma profiles that are quite pungent, yet the interior of these cheeses is most often semi-soft and, sometimes, very creamy.  Washed rind cheeses may be made from both pasteurized and raw milk, depending on the style of the cheese and the cheesemaker producing them.  Cheeses in this category include some tomme-style cheeses, triple-crème, and semi-soft cheeses, similar to Epoisses, Livarot and Taleggio.


      <div class="subtitle_text actions">Processed Cheeses</div>

      The term “processed” is used to describe cheese by-products made from a combination of natural cheese and added ingredients, such as stabilizers, emulsifiers, and flavor enhancers that are used to create a consistent and shelf-stable product aimed at mass market consumption.  Cheeses in this category include American Cheese, processed cheese spreads, and “cheese flavored” spreads.
      <p></p>
      <p><h5><a href="http://www.cheesesociety.org/i-heart-cheese/cheese-glossary/">source</a></h5></p>
    </div>
  </div>
</div>
