@import 'bootstrap-sprockets';
@import 'bootstrap';

$primary: #DE9D4A;

* {
margin: 0;
padding: 0;
}

.notices {
  margin-top: 20px;
}

.help-block {
  font-size:0.9em;
}

header.main, footer {
    padding-right: 15px;
    padding-left: 15px;
}

header.main {
    border-bottom: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

footer {
    border-top: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

body {
  background-color: #FFFAD9;
}

.ratings_slice {
  width: 7%;
  height: auto;
}

.cheese_index_blocks {
  background-color: #005B62;
}

.main_logo {
  width: 75%;
  height: auto;

}
