@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'farms';
@import 'cheeses';

$primary: #DE9D4A;

* {
margin: 0;
padding: 0;
}

.alert {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.notice {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.help-block {
  font-size:0.9em;
}


body {
  font-family: Georgia;
  line-height: 1.4;
  font-weight: normal;
  font-stretch: normal;
  font-variant: small-caps;
  font-size: 16px;
}

.title_text {
  font-family: Adelle;
  bold-weight: bold;
  font-size: 44px;
  color: #105B63;
}
.subtitle_text {
  font-family: Adelle;
  font-weight: Regular;
  font-size: 36px;
  color: #DB9E36;

}
.body_text {
  font-family: Adelle;
  font-weight: light;
  font-size: 16px;
  color: #333333;
}

header  {
    padding-right: 15px;
    padding-left: 15px;
}

header {
    border-bottom: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

footer {
    border-top: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

body {
  background-color: #FFFAD9;
}

.ratings_slice {
  width: 7%;
  height: auto;
}


.main_logo {
  width: 75%;
  height: auto;

}
