@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'farms';
@import 'cheeses';
@import 'reviews';
@import 'users';
@import url(http://fonts.googleapis.com/css?family=Antic+Slab|Antic+Didone|Antic|Slabo+27px|Quantico:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

.container {
  margin-left: 0px;
  margin-right: 0px;
}


$primary: #DE9D4A;

* {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}
.alert {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.notice {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.help-block {
  font-size:0.9em;
}


.title_text {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 44px;
  color: #105B63;
}
.subtitle_text {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: #DB9E36;

}
.body_text {
  font-family: 'Roboto Slab', serif;
  font-weight: light;
  font-size: 16px;
  color: #333333;
}

header  {
    padding-right: 15px;
    padding-left: 15px;
}

header {
    border-bottom: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

footer {
    border-top: 5px solid #FFD34E;
    background: $primary;
    color: white;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    bottom: 0px;
    a {
      color: white;
    }
    h1 {
      display:inline;
    }
}

body {
  background-color: #FFFAD9;
  font-family: 'Antic', sans-serif;
  font-weight: light;
  font-size: 16px;
  color: #333333;
}

.ratings_slice {
  width: 8%;
  height: auto;
}
.ratings_slice_show_page {
  width: 15%;
  height: auto;
}

.main_logo {
  width: 75%;
  height: auto;

}
