// Place all the styles related to the cheeses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new cheese page

.form_box {
  padding-left: 10px;
}
.new_cheese_page {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  display: block;
  background: url(img_0070.jpg);
  background-position: center;
  background-size: 1300px 1300px;

  .new_cheese_page::after {
    content: "";
    background: url(img_0070.jpg);
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
.cheese_row {
  background-color: #005B62;
  padding-top: 25px;
}

// cheese index page

.cheese_row {
  background-color: #005B62;
  padding-top: 25px;

  .cheese_index_blocks {
    background-color: #005B62;
    padding-left: 2em;
    padding-bottom: 10px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    .image_container {
      max-height: 300px;
      max-width: 300px;
      position: absolute;

      .image_collection {
        max-height: 100%;
        max-width: 100%;
        }
      }
    }
  }
}

.cheese_index_page {
  padding-top: 5em;
  padding-bottom: 5em;
}

.cheese_index_title_text {
  padding-bottom: 1em;
  padding-left: 1em;
}

.cheese_index_page_farm_name {
  font-style: italic;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 300;
  a {
    color: #93A8B8;
  }
}

.cheese_index_page_cheese_name {
  font-size: 18px;
  font-family: "Roboto Slab";
  font-weight: 400;
}

// cheese show page

.show_page_banner {
  padding-bottom: 280px;
}

.show_page_wheels {
  height: 60px;
}

.cheese_show_page_button_area {
  margin: auto 0;
  padding-bottom: 20px;
}

.cheese_info {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  color: #DB9E36;
}

.title_text_padding {
  margin-top: 100px;
  text-align: center;
}

.align {
  text-align: center;
  margin-bottom: 200px;
}

.cheese_show_page_ratings_slice {
  height: 25px;
}

.cheese_show_page_review_blocks {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  margin-top: -4px;
}

.cheese_show_page_review_title_header {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.actions {
padding-top: 20px;
padding-bottom: 20px;

}

// .button_swag {
//   display: inline-block;
//   position: relative;
//   text-align: center;
//   padding: 1.222em 2em 1.111em 2em;
//   text-transform: uppercase;
//   font-weight: 600;
//   letter-spacing: 1px;
//   color: #FFF;
//   text-decoration: none;
//   background: #2AB22E;
//   transform: translate3d(0, 0, 0);
//   transition: .1s background,
//               .1s transform;

//   &:hover {
//     background: darken(#2AB22E, 5);
//     transform: translate3d(0, 8px, 0);

//     &:after,
//     &:before {
//       height: 0;
//       background: darken(#2AB22E, 10);
//     }
//   }

//   &:after,
//   &:before {
//     content: '';
//     position: absolute;
//     top: 100%;
//     width: 50%;
//     height: 8px;
//     background: darken(#2AB22E, 5);
//     transition: .1s height,
//                 .1s background;
//   }

//   &:after {
//     right: 0;
//     transform: skewX(-45deg);
//     transform-origin: 0 0;
//   }

//   &:before {
//     left: 0;
//     transform: skewX(45deg);
//     transform-origin: 100% 0;
//   }
// }
