// Place all the styles related to the cheeses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_cheese_page {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  display: block;
  background: url(img_0070.jpg);
  background-size: 1300px 1300px;

  .new_cheese_page::after {
    content: "";
    background: url(img_0070.jpg);
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
.cheese_row {
  background-color: #005B62;
  padding-top: 25px;
}

.cheese_row {
  background-color: #005B62;
  padding-top: 25px;

  .cheese_index_blocks {
    background-color: #005B62;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    .image_container {
      max-height: 300px;
      max-width: 300px;
      position: absolute;

      .image_collection {
        max-height: 100%;
        max-width: 100%;
        }
      }
    }
  }
}
// .cheese_show_page_beneath_header{
//   padding-top: 200px;
// }

.cheese_index_page {
  padding-top: 5em;
  padding-bottom: 5em;
}

.cheese_index_title_text {
  padding-bottom: 1em;
  padding-left: 1em;
}


.cheese_show_page_background {
  height: 240px;
  margin: 0px;
  padding:0px;
  top: -1em;
}


.cheese_show_page_rating {
  background-color: #C14737;
  height: 5em;
  margin: 0px;
  width: 100%;
  padding-top: 1em;
}

.cheese_show_page_info{
  background-color: #DE9D4A;
  height: 5em;
}

.cheese_show_page_button_area {
  background-color: #FFD34E;
  height: 5em;
}

.cheese_show_page_review_title {
  font-size: 3em;
  font-style: italic;
}

.user_name_quote {
  font-style: italic;
}

a.user_name_quote{
  text-decoration: none;
}

.cheese_show_page_review_blocks {
  padding-top: 2em;
  padding-bottom: 2em;
}
