// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_show_page {
  padding-bottom: 100px;
  padding-top: 50px;
}

.review_show_page_commentary {
  padding-top: 20px;
  line-height: 200%;
}

.user_name_quote {
  font-style: italic;
}

a.user_name_quote{
  text-decoration: none;
}

.review_show_page_image {
  width: 575px;
}

.review_show_page_title{
  padding-bottom: 3em;
}
