// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .user_show_page {
  padding-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
 }
