<%= image_tag @review.image.url(:large) %>
<p>
  <strong>Commentary:</strong>
  <%= @review.commentary %>
</p>
<p>
  <strong>Rating:</strong>
  <% (@review.wheel).times do %>
    <%=image_tag("ctw-cheese-slice.png", class: "ratings_slice") %>
  <% end %>
</p>
